html {
    background: linear-gradient(#ECFFFD);
}

html,
footer {
    margin: 0;
    /*no space between the footer and other elements on the page. */
    padding: 0;
    /* no space between the content and the border of the footer element. */
    height: 100%;
    /* footer element will always take up the full height */
}

body {
    background: linear-gradient(to bottom, #ECFFFD);
}

.top-image {
    width: 50em;
    height: 30em;
    position: relative;
    top: -150px;
    float: right;
    padding-right: 18.16em;
    margin-left: auto;
    margin-right: auto;
}

nav {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
    font-style: italic;
    float: right;
    padding-right: 10.9em;
    position: relative;
    top: -259px;
}

nav a:link {
    color: black;
    text-decoration: none;
    /* remove line*/
}

nav a:visited {
    color: black;
    text-decoration: none;
    /* remove line*/
}

nav a:hover {
    color: #CC9933;
    ;
    text-decoration: none;
    /* remove line*/
}

#imageText1 a:visited {
    color: black;
    text-decoration: none;
    /* remove line*/
}

#imageText1 a:hover {
    color: #CC9933;
    ;
    text-decoration: none;
    /* remove line*/
}

#imageText2 a:visited {
    color: black;
    text-decoration: none;
    /* remove line*/
}

#imageText2 a:hover {
    color: #CC9933;
    ;
    text-decoration: none;
    /* remove line*/
}

#imageText3 a:visited {
    color: black;
    text-decoration: none;
    /* remove line*/
}

#imageText3 a:hover {
    color: #CC9933;
    ;
    text-decoration: none;
    /* remove line*/
}

#imageText4 a:visited {
    color: black;
    text-decoration: none;
    /* remove line*/
}

#imageText4 a:hover {
    color: #CC9933;
    ;
    text-decoration: none;
    /* remove line*/
}

#imageText5 a:visited {
    color: black;
    text-decoration: none;
    /* remove line*/
}

#imageText5 a:hover {
    color: #CC9933;
    ;
    text-decoration: none;
    /* remove line*/
}

#imageText6 a:visited {
    color: black;
    text-decoration: none;
    /* remove line*/
}

#imageText6 a:hover {
    color: #CC9933;
    ;
    text-decoration: none;
    /* remove line*/
}



main {
    float: right;
    padding-right: 11.7em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -240px;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
    font-family: cursive;
    font-size: 40px;
    padding-right: 0.3em;
    position: relative;
    bottom: -50px;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
    font-family: cursive;
    font-size: 45px;
    padding-right: 0.6em;
    position: relative;
    bottom: -50px;
}

h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 33px;
    position: relative;
    bottom: -30px;
}

h5 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -2500px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    display: flex;
    gap: 55px;
    position: relative;
    right: -4.5em;
} 

h5 a:link {
    color: black;
    text-decoration: none;
    /* remove line*/
}

h5 a:visited {
    color: black;
    text-decoration: none;
    /* remove line*/
}

h5 a:hover {
    color: #CC9933;
    text-decoration: none;
    /* remove line*/
}

.common4-image {
    width: 380px;
    height: 385px;
    position: relative;
    top: -199px;
    float: right;
    padding-right: 42.13em;
    margin-left: auto;
    margin-right: auto;
}

.vegetarian8-image {
    width: 380px;
    height: 385px;
    position: relative;
    top: -585px;
    float: right;
    padding-right: 17.5em;
    margin-left: auto;
    margin-right: auto;
}

#imageText1 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -2046px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 65px;
    position: relative;
    right: -3.1em;
}

#imageText2 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -1979px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 60px;
    position: relative;
    right: -20.9em;
}

.kpop7-image {
    width: 380px;
    height: 385px;
    position: relative;
    top: -490px;
    float: right;
    padding-right: 42.13em;
    margin-left: auto;
    margin-right: auto;
}

.jpop2-image {
    width: 380px;
    height: 385px;
    position: relative;
    top: -876px;
    float: right;
    padding-right: 17.5em;
    margin-left: auto;
    margin-right: auto;
}

#imageText3 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -2405px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    position: relative;
    right: -2.87em;
}

#imageText4 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -2306px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    position: relative;
    right: -20.84em;
}

.gamer2-image {
    width: 380px;
    height: 385px;
    position: relative;
    top: -781px;
    float: right;
    padding-right: 42.13em;
    margin-left: auto;
    margin-right: auto;
}

.rapper2-image {
    width: 380px;
    height: 385px;
    position: relative;
    top: -1167px;
    float: right;
    padding-right: 17.5em;
    margin-left: auto;
    margin-right: auto;
}

#imageText5 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -2650px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 66px;
    position: relative;
    right: -2.91em;
}

#imageText6 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -2541px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 61px;
    position: relative;
    right: -20.56em;
}

.discount-image {
    width: 847px;
    height: 755px;
    position: relative;
    top: -1072px;
    float: right;
    padding-right: 41.60em;
    padding-left: 12em;
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
}

#imageText7 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -2798px;
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    position: relative;
    right: -12.535em;
}

#imageText8 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -2630px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85px;
    position: relative;
    right: -10.7em;
}

#imageText9 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -2562px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 83px;
    position: relative;
    right: -13.2em;
}

#imageText10 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -2498px;
    text-align: center;
    font-family: fantasy;
    font-size: 78px;
    position: relative;
    right: -12.92em;
}


div a:link {
    color: black;
    text-decoration: none;
    /* remove line*/
    padding-right: 60px;
}

div a:visited {
    color: black;
    text-decoration: none;
    /* remove line*/
}

div a:hover {
    color: #CC9933;
    text-decoration: none;
    /* remove line*/
}

footer {
    margin-left: auto;
    margin-bottom: auto;
    position: relative;
    bottom: -3610px;
    font-size: 32px;
    font-style: oblique;
    position: relative;
    right: -7.5em;
    margin: 0%;
    padding: 0%;
}

iframe {
    border: none; /* remove border for video */
}




